﻿@model IList<string>
           
@section head {
    <link rel="stylesheet" type="text/css" href='@Href("~/content/css/login.css")' />
	<script type="text/javascript" src='@Href("~/content/scripts/login.js")'></script>  
}

    <div class="container">
        <div class="header">
            <img src='@Href("~/content/images/diario_header.png")'  />  
            <br />      
            <span style="color:Red;">@ViewData["error"]</span>
        </div>
        <div class="center">
		    <div class="left">
            @for (int i = 0; i < this.Model.Count; i += 2)
            {
                Html.RenderPartial("UserPartialView", Model[i]);
            }
		    </div>
		
		
		    <div class="right">
            @for (int i = 1; i < this.Model.Count; i += 2)
            {
                Html.RenderPartial("UserPartialView", Model[i]);
            }
		    </div>
        </div>
    </div>
