﻿<div class="user rounded-corners">
@using (Html.BeginForm())
{
	<img class="rounded-corners" src='@Href(String.Format("~/content/images/users/{0}.png", Model))' class="user-avatar" />
	<div>
		@Model <br />
		<input type="hidden" name="username" value="@Model" />
		<input type="password" name="password" class="user-text" />
		<input type="submit" class="submitButton" name="login" value="Entrar" />
	</div>
}
</div>