﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Diario Familiar</title>
    <link href='@Href("/content/css/jquery-themes/south-street/jquery-ui-1.8.11.custom.css")' rel="stylesheet" type="text/css" />

	<script src='@Href("~/content/scripts/jquery-1.5.1.min.js")' type="text/javascript"></script>
    <script src='@Href("~/content/scripts/jquery.validate.min.js")' type="text/javascript"></script>
    <script src='@Href("/content/scripts/jquery-ui-1.8.11.custom.min.js")' type="text/javascript"></script>
    @RenderSection("head", required: false)
</head>
<body>
   @RenderBody()
</body>
</html>
