﻿{QUESTION}<br /><br />
<b>{USERNAME}</b> dijo:<br /><br />
{ANSWER}<br /><br />
<a href="http://familydiary.apphb.com/Diary/Main/{QUESTIONID}">Responde!</a>
<hr />
<a href='http://familydiary.apphb.com'>http://familydiary.apphb.com</a>