﻿<b>{USERNAME}</b> le escribe a la familia:<br /><br />
<i>{QUESTION}</i><br /><br />
<a href="http://familydiary.apphb.com/Diary/Main/{QUESTIONID}">Responde!</a>
<hr />
<a href='http://familydiary.apphb.com'>http://familydiary.apphb.com</a>