
/*
text: #360f2a;
background: D1FFD1
primary dark: 73CF87
primary light: 98EDAA
secondary dark: 2A7D59
secondary light: 3AAD7C 
contrast: EBFCBF

*/

body
{
	font-family: Verdana, "sans-serif";
	font-size:13pt;
	color: #360f2a;
	background-color:#D1FFD1;
}

.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
}

.container
{
    margin:auto;
    width:650px;
}

.header
{
    padding-left:25px;
}

.left
{
	margin-top:20px;
	width:300px;
	float:left;
	
}

.right
{
	margin-top:20px;
	width:300px;
	float:left;
	margin-left:50px;
}


.user
{
	background-repeat: no-repeat;
	background-image: url('fading_corner_6.png');
	background-color:#73CF87;
	
	margin:10px;
	height:50px;
	padding: 10px;
	
}

.user img
{
	width:50px;
	height:50px;
	float:left;
}

.user div
{
	padding-top:15px;
	padding-left:65px;
}

.user-text
{
	width:100px;
	margin-top:10px;
}