/*
text: #360f2a;
background: D1FFD1
primary dark: 73CF87
primary light: 98EDAA
secondary dark: 2A7D59
secondary light: 3AAD7C 
contrast: EBFCBF
*/

body
{
	background-color:#D1FFD1;
	color: #360F2A;
	margin:0;
	padding:0;
	font-family: Verdana, "sans-serif";
	font-size:13pt;
}

#header
{
	height:10%;
	overflow:auto;
}

#left
{
	float:left;
	width:75%;
	height:100%;
}

#right
{
	margin-left: 75%;	
	height:100%;
}
	

.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
}

.header-user
{
    float:right;
    margin:10px 10px 0 0;
    text-align:center;
}

.header-user img
{
    width:80px;
    width:80px;
}

.question
{
	background-color:#73CF87;
	border-color:#2A7D59;
	border-style:solid;
	border-width:1px;
	margin:10px 100px 0 20px;
	padding-bottom:5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18pt;
	
	font-weight: 100;
	letter-spacing: 0.1em;
	line-height: 1em;
	text-transform: none;
	height:80px;
}

.question-text{
	padding: 5px 5px 5px 90px;
}

.question-date {
  background-color:#EBFCBF;
  float:left;
  margin-left:5px;
  margin-top:5px;
  padding:35px 25px 0 5px;
  position:relative;
  width:40px;
}

.question-date .day {
  font-size:30px;
  left:10px;
  text-align:center;
  position:absolute;
  top:5px;
}

.question-date .month {
  font-size:18px;
  text-transform:uppercase;
  margin-left:0;
  padding-left:0;
}

.question-date .year {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display:block;
  font-size:15px;
  position:absolute;
  left:40px;
  top:17px;
}


.user img
{
	width:50px;
	height:50px;
	float:left;
}

.user div
{
	background-color:#98EDAA;
	margin-left:60px;
}

.user-name
{
	font-size: 16pt;
	font-weight:bold;
	line-height: 50px;
	padding-left: 10px;
}

.user-date
{
	float:right;
	line-height:30px;
	margin-right:10px;
	font-style:italic;
	font-size: 12pt;
	font-family: serif;
}

.answer
{
	border-color:#2A7D59;
	border-top-style:solid;
	border-left-style:solid;
	border-width:2px;
	padding:8px;
	margin:0 10px 20px 20px;
	overflow:auto;
	position:relative;
}

.answer-text
{
	margin:20px 10px 10px 10px;
}

.answer-button
{
	
	/*margin-left:50%;*/
}

.old-question
{
	background-color:#98EDAA;
	border-color:#2A7D59;
	border-style:solid;
	border-width:1px;
	padding:10px;
	margin: 0 5px 5px 25px;
}

.active-question
{
	background-color:#EBFCBF;
	margin: 0 5px 5px 0;
    
}

.old-question img
{
	float:left;
	margin: 0 5px 0 0;
}

.menu-action
{
	background-color:#73CF87;
	border-color:#2A7D59;
	border-style:solid;
	border-width:1px;
	padding:10px;
	text-align:center;
	margin: 0 5px 5px 25px;
}

.menu-action:hover, .old-question:hover
{
	cursor:pointer;
}

.new-question-dialog
{
	padding: 50px 80px 50px 80px;
	text-align:left;	
}

.new-question-dialog fieldset
{
    padding: 20px;
    border:0;
}

.new-question-dialog legend
{
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
}

.new-question-dialog label.entrada
{
    padding: 3px;
    display: block;
}

.new-question-dialog label.error
{
    color:Red;
}

#message
{
    text-align:center;
    position:absolute;
    top:0;
    background-color:Orange;
    width:200px;
    left:200px;
    display:none;
}

#newAnswerDiv
{
    display:none;
}

#photoGallery
{
    text-align:center;
}