﻿@model FamilyDiary.Models.Answer

@{
    Layout = null;
}

<div class="answer rounded-corners">
	<div class="user rounded-corners">
		<img class="rounded-corners" src='@Href(String.Format("~/content/images/users/{0}.png", Model.UserName))' />
		<div class="rounded-corners">
			<span class="user-name">@Model.UserName</span> dijo:
			<span class="user-date">@Model.Date.ToShortDateString()</span>
		</div>	
	</div>			 
	<div class="answer-text">
        @Html.Raw(Model.Text)
	</div>
</div>