﻿@model FamilyDiary.Models.DiaryViewModel

@section head {
    <link href='@Href("~/content/wysiwyg/jquery.wysiwyg.css")' rel="stylesheet" type="text/css" />
    <link href='@Href("~/content/css/main.css")' rel="stylesheet" type="text/css" />
    <script src='@Href("~/content/wysiwyg/jquery.wysiwyg.js")' type="text/javascript"></script>	
    <script src='@Href("~/content/wysiwyg/wysiwyg.image.js")' type="text/javascript"></script>	
    <script src='@Href("~/content/wysiwyg/wysiwyg.link.js")' type="text/javascript"></script>	
    <script src='@Href("~/content/scripts/main.js")' type="text/javascript"></script>    

}

    <div id="header">
        <div class="header-user">
            <img class="rounded-corners" src='@Href(String.Format("~/content/images/users/{0}.png", Model.UserName))' />
            
        </div>
        <div class="question rounded-corners">
            <div class="question-date rounded-corners">
              <span class="day">@Model.Question.Date.Day</span> 
              <span class="month">@Model.Question.Date.ToString("MMMM", new System.Globalization.CultureInfo("es")).Remove(3)</span> 
              <span class="year">@Model.Question.Date.Year</span>
            </div>
            <div class="question-text">
                @Model.Question.Long
            </div>
        </div>
    </div>
    <br />
    <div id="left">   
        <div id="answerDiv" class="answer rounded-corners">
            <span id="message">Procesando...</span>
            <div class="user rounded-corners">
                <img class="rounded-corners" src='@Href(String.Format("~/content/images/users/{0}.png", Model.UserName))' />
                <div class="rounded-corners">
                    <span class="user-name">@Model.UserName</span> dice:			
                </div>	
            </div>		         	 
            <div class="answer-text">
                <input type="hidden" id="username" name="username" value="@Model.UserName" />
                <input type="hidden" id="url" name="url" value='@Url.Action("AddAnswer")' />
                <input type="hidden" id="questionid" name="questionid" value="@Model.Question.Id" />
                <textarea id="answerText" name="Text" rows="10" cols="80"></textarea> 
                <input type="button" id="answerButton" class="answer-button" value="Responde" />	
                <input type="checkbox" id="answerSendMailCheckbox" checked="checked" value="true" />
                <label for="answerSendMailCheckbox">Mandar Correo</label>
            </div>
        </div>
        
        <div id="newAnswerDiv" class="answer rounded-corners">
            <div class="user rounded-corners">
                <img class="rounded-corners" src='@Href(String.Format("~/content/images/users/{0}.png", Model.UserName))' />
                <div class="rounded-corners">
                    <span class="user-name">@Model.UserName</span> dijo:
                    <span class="user-date">Ahorita</span>
                </div>	
            </div>			 
            <div class="answer-text">
            </div>
        </div>
        
        @foreach (var answer in Model.Answers)
        {
            Html.RenderPartial("AnswerPartialView", answer);
        }
        
    </div>
    <div id="right">
        <div id="logoutDiv" class="menu-action rounded-corners clickable">
            <input type="hidden" value='@Url.Action("LogOff", "Account")' />
            Salir
        </div>
        
        <div id="newQuestionDiv" class="menu-action rounded-corners">
            Nueva Entrada		
        </div>
        <div id="newQuestionDialog" class="new-question-dialog" title="Escribele a la familia">	
            @using (Html.BeginForm("AddQuestion", "Diary", FormMethod.Post, new { id = "newQuestionForm" }))
            {			
                <fieldset class="rounded-corners">
                    <label class="entrada" for="short">Titulo Corto:</label>
                    <input type="text" id="short" name="short" class="required" />
                    <label class="entrada" for="long">Titulo:</label>
                    <textarea id="long" name="long" rows="3" cols="50" class="required"></textarea>
                    <br />
                    <input type="checkbox" id="questionSendMailCheckbox" name="sendMail" checked="checked" value="true" />
                    <label for="questionSendMailCheckbox">Mandar Correo</label>
                </fieldset>
            }
        </div>
        
        <br />
        @foreach (var q in Model.LatestQuestions)
        {
        <div class="old-question rounded-corners clickable @if (q.IsActive)
                                                     { <text>active-question</text>}">
            
            <input type="hidden" value='@Url.Action("Main", new { questionId = q.Id })' />
            @if (!q.IsAnswered)
            {
            <img src='@Href("~/content/images/new-text.png")' />
            }
            @q.Short       
        </div>
        }
    </div>
